{{#if chai }}
<div class="tea_box">
  <div class="tea_info">
    <div id="tea_title">
      <h2>{{chai.title}}</h2>
    </div>
    <div id="tea_description">{{chai.description}}</div>
  </div>
  <div id="tea_img">
    <img src="{{chai.image}}" style="height: 200px;">
  </div>
</div>
{{else}}

<div class="tea_box">
  <p>Пока такого чая нет:(</p>
  <p>Но скоро будет :)</p>
</div>

{{/if}}

<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section>
