<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="https://api-maps.yandex.ru/2.1/?apikey=669f694a-7b76-4f0c-8c75-982434ccfb54&lang=ru_RU"
    type="text/javascript">
    </script>
  <script type="text/javascript">

  </script>
</head>

<body>
  <div id="map" style="width: 90vw; height: 90vh"></div>
</body>

</html>
