{{!-- <div>
  <p> тут будет классная карта</p>
</div>
<div id="map" style="width: 600px; height: 400px"></div>
<script defer src="https://api-maps.yandex.ru/2.1/?apikey=669f694a-7b76-4f0c-8c75-982434ccfb54&lang=ru_RU" type="text/javascript"></script>
<script defer src="/js/map.js"></script> --}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=669f694a-7b76-4f0c-8c75-982434ccfb54&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 1
            });
        }
    </script>
</head>

<body>
    <div id="map" style="width: 600px; height: 400px"></div>
</body>

</html>
