<div class="login_box">
  <form action="/login" name="loginForm" method="post" class="login_box_form">
    <label class="reg_log_label" for="userName">Логин: </label>
    <input type="text" placeholder="Enter Username" name="username" id="userName" class="alert alert-success">

    <label class="reg_log_label" for="userPassword">Пароль: </label>
    <input type="password" placeholder="Enter Password" name="password" id="userPassword" class="alert alert-success">

    <button type="submit" id="loginBtn">Войти</button>
  </form>
  <div class="response"></div>
</div>
