<div class="login_box">
  <form action="/login" name="loginForm" method="post">
    <label for="userName"><b>Логин: </b></label>
    <input type="text" placeholder="Enter Username" name="username" id="userName">

    <label for="userPassword"><b>Пароль:</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="userPassword">

    <button type="submit" id="loginBtn">Войти</button>
  </form>
</div>

<div class="response"></div>
