<div class="registration_box">
  <form action="/registration" name="registrationForm" method="post" class="registration_box_form">
    <label for="userName">Логин: </label>
    <input required type="text" placeholder="Введи свой логин" id="userName" name="username">

    <label for="userEmail">Email: </label>
    <input required type="email" placeholder="Введи свою почту" id="userEmail" name="email">

    <label for="userPassword">Password: </label>
    <input required type="password" placeholder="Введи пароль" id="userPassword" name="password" minlength="5"><br>

    <label for="checkUserPassword">Password: </label>
    <input type="password" placeholder="Повторите пароль" id="checkUserPassword" name="checkUserPassword">

    <label for="isAdmin">Админ: </label>
    <input type="button" id="isAdmin">

    <div id="admin_reg">
      {{!-- <label for="keyWord">Введите ключевое слово</label>
      <input type="text" name="keyword" id="keyWord"> --}}
    </div>

    <button type="submit">Отправить!</button>
  </form>
</div>
