<div class="welcome_box">
  <h1>Добро пожаловать в уникальный чайный клуб</h1>
  <div>
    <p>Чай — древний напиток и главный конкурент кофе.</p>
    <p>В чем польза и вред чая для организма человека, что он содержит и как влияют на организм, сколько его можно пить
      в день, какой вид самый безопасный, а также как правильно пить чай</p>
    <p>ПОЗНАКОМИТЕСЬ У НАС</p>
  </div>
  <button type="button" class="btn btn-outline-success btn-lg btn-block"><a href="/home">Открой мир чая</a></button>
</div>
